<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="col-6">
                <img src="/assets/imagen/logo argentina programa2.png" alt="" width="123" height="75"
                    class="d-inline-block align-text-top">
                <img src="/assets/imagen/LogosInti.png" alt="" width="248" height="75"
                    class="d-inline-block align-text-top">
            </div>

            <div class="col-6 ps-1 pe-1 text-end">
                <button class="btn btn-dark" style="font-size: 30px;"><i class="bi bi-linkedin"></i></button>
                <button class="btn btn-dark" style="font-size: 30px;"><i class="bi bi-github"></i></button>
            </div>
        </div>
    </nav>
</header> <!--Fin del Encabezado-->
