<div id="experiencia profesional">
    <h1 class="text-center text-white m-3 p-3 rounded bg-secondary">Experiencia Profesional</h1>

    <div class="container">

        <div class="row align-items-start border border-secondary mb-1">

            <div class="col-4 text-end">
                <p>may 2018 - nov 2021</p>
            </div>

            <div class="col-8">
                <h3>Administrativo - Financiero / Empresa 1</h3>
                <p>Analista de Costos. Reportes de Rentabilidad. Cash Flow. TANGO Gestión. Compras - Ventas.
                    Cobranzas-Pagos.
                    Bancos. Responsable de Tesorería. Liquidación de Divisas. Conciliaciones. Novedades RRHH.</p>
                <p>Provincia de Buenos Aires.</p>
            </div>
        </div>

        <div class="row align-items-start border border-secondary">

            <div class="col-4 text-end">
                <p>dic 2012 - dic 2021</p>
            </div>

            <div class="col-8">
                <h3>Asesoría - Financiero / Contador Público Independiente</h3>
                <p>Libros Diario, Mayor e Inventarios. Libros de Compra y Venta Declaración de IVA y ISLR. Retenciones
                    de IVA y
                    ISLR. Estados Financieros.</p>
                <p>Venezuela.</p>
            </div>
        </div>
    </div>
</div> <!--Fin de la experiencia-->
