<div id="Contacto">
    <h1 class="text-center text-white m-3 p-3 rounded bg-secondary">Contacto</h1>
    <div class="container">

        <div class="row text-center">

            <div class="col-4 border text-center rounded-pill">
                <h3>Email</h3>
                <p>un.email-2022@gmail.com</p>
            </div>

            <div class="col-4 border text-center rounded-pill bg-info">
                <h3>Telefono</h3>
                <p>111 222 333</p>
            </div>

            <div class="col-4 border text-center rounded-pill bg-dark text-light bg-dark">
                <h3>Direccion</h3>
                <p>Buenos Aires - Argentina</p>
            </div>
        </div>
    </div>
</div><!--Fin  de contacto-->
