<div id="formacion academica">
    <h1 class="text-center text-white m-3 p-3 rounded bg-secondary">Formación Académica</h1>

    <div class="container">

        <div class="row align-items-start border border-secondary mb-1">
            <div class="col-4  text-end">
                <p>oct 2021 - dic 2021</p>
            </div>
            <div class="col-8">
                <h3>Argentina Programa #SéProgramar</h3>
                <p>Ministerio de Desarrollo Productivo Argentina / CESSI Argentina</p>
                <p>Buenos Aires - Provincia de Buenos Aires.</p>
            </div>
        </div>

        <div class="row align-items-start border border-secondary">
            <div class="col-4 text-end">
                <p>may 2005 - nov 2012</p>
            </div>
            <div class="col-8">
                <h3>Licenciado en Contaduría Pública.</h3>
                <p>Universidad de Oriente - Núcleo de Sucre. Venezuela</p>
                <p>Cumaná - Venezuela.</p>
            </div>
        </div>
    </div>
</div><!--Fin de academica-->
