<div id="Skills">
    <h1 class="text-center text-white m-3 p-3 rounded bg-secondary">Skills</h1>
    <div class="container">
        <div class="col">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    style="width: 50%" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">HTML</div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                    style="width: 45%" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">Python</div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                    style="width: 40%" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">JavaScript</div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                    style="width: 35%" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">Bootstrap</div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                    style="width: 30%" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">CCS</div>
            </div>
        </div>
    </div>
</div>
<!--Fin de Skills-->
