<div class="col-6 align-self-center">
    <div class="m-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>

    <div class="m-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
            placeholder="Escribe tu mensaje aqui"></textarea>
    </div>
    <button type="button" class="btn btn-primary mb-3 ms-3">Enviar</button>
</div><!--Fin  de mensaje-->
